[Unit]

Description=Podman slurm-create-datadir.service
Wants=network.target
After=network-online.target
ConditionPathIsDirectory=!%S/slurm-container-cluster/var_lib_mysql

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PODMAN_SYSTEMD_UNIT=%n
StateDirectory=slurm-container-cluster
StateDirectoryMode=0700
ExecStart=/bin/mkdir -p %S/slurm-container-cluster/etc_munge
ExecStart=/bin/mkdir -p %S/slurm-container-cluster/etc_slurm
ExecStart=/bin/mkdir -p %S/slurm-container-cluster/extra-containerimages
ExecStart=/bin/mkdir -p %S/slurm-container-cluster/slurm_jobdir
ExecStart=/bin/mkdir -p %S/slurm-container-cluster/var_lib_mysql
ExecStart=/bin/mkdir -p %S/slurm-container-cluster/var_run_mysqld
ExecStart=/bin/mkdir -p %S/slurm-container-cluster/var_log_slurmdbd
ExecStart=/bin/mkdir -p %S/slurm-container-cluster/var_log_slurmctld
ExecStart=podman unshare /bin/chmod 700 %S/slurm-container-cluster/etc_munge
ExecStart=podman unshare /bin/chown 993:992 %S/slurm-container-cluster/etc_munge

ExecStart=podman unshare /bin/chmod 700 %S/slurm-container-cluster/var_log_slurmdbd
ExecStart=podman unshare /bin/chmod 700 %S/slurm-container-cluster/var_log_slurmctld
ExecStart=podman unshare /bin/chown 992:991 %S/slurm-container-cluster/var_log_slurmdbd
ExecStart=podman unshare /bin/chown 992:991 %S/slurm-container-cluster/var_log_slurmctld

KillMode=none

[Install]
WantedBy=multi-user.target
