[Unit]
Description=Podman slurm-slurmctld.service
Wants=network.target
After=network-online.target

Wants=slurm-copy-default-slurm-configuration.service
After=slurm-copy-default-slurm-configuration.service

Wants=slurm-create-datadir.service
After=slurm-create-datadir.service

Wants=slurm-create-munge-key.service
After=slurm-create-munge-key.service

Wants=slurm-mysql.service
After=slurm-mysql.service

#Wants=slurm-container-cluster-network-create.service
#After=slurm-container-cluster-network-create.service

Wants=slurm-slurmdbd.service
After=slurm-slurmdbd.service

# AssertFileNotEmpty=%S/slurm-container-cluster/etc_munge/munge.key (other subuid UID)
AssertFileNotEmpty=%S/slurm-container-cluster/etc_slurm/slurm.conf
AssertFileNotEmpty=%S/slurm-container-cluster/etc_slurm/slurmdbd.conf

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
StateDirectory=slurm-container-cluster
StateDirectoryMode=0700
ExecStartPre=/bin/rm -f %t/slurm-slurmctld.pid %t/slurm-slurmctld.ctr-id
ExecStart=/usr/bin/podman run --add-host c1:127.0.30.1 \
                              --add-host c2:127.0.30.2 \
                              --add-host c3:127.0.30.3 \
                              --add-host c4:127.0.30.4 \
                              --add-host c5:127.0.30.5 \
                              --add-host c6:127.0.30.6 \
                              --add-host c7:127.0.30.7 \
                              --add-host c8:127.0.30.8 \
                              --add-host c9:127.0.30.9 \
                              --add-host slurmdbd:127.0.29.2 \
                              --cgroups=no-conmon \
                              --cidfile %t/slurm-slurmctld.ctr-id \
                              --conmon-pidfile %t/slurm-slurmctld.pid \
                              --detach \
                              --hostname slurmctld \
                              --name slurmctld \
                              --replace \
                              --volume=%S/slurm-container-cluster/adjusting_ports_for_norouter/slurmctld:/etc/slurm/adjusting_ports_for_norouter:z \
                              --volume=%S/slurm-container-cluster/etc_munge:/etc/munge:z \
                              --volume=%S/slurm-container-cluster/etc_slurm:/etc/slurm:z \
                              --volume=%S/slurm-container-cluster/slurm_jobdir:/data:z \
                              --volume=%S/slurm-container-cluster/var_log_slurmctld:/var/log/slurm:Z \
                              localhost/slurm-with-norouter slurmctld
ExecStop=/usr/bin/podman stop --cidfile %t/slurm-slurmctld.ctr-id \
                              --ignore \
                              --time 10
ExecStopPost=/usr/bin/podman rm --cidfile %t/slurm-slurmctld.ctr-id \
                                --force \
                                --ignore
PIDFile=%t/slurm-slurmctld.pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
