[Unit]

Description=Install sshocker
Wants=network.target
After=network-online.target
Wants=slurm-create-datadir.service
After=slurm-create-datadir.service
ConditionFileIsExecutable=!%S/slurm-container-cluster/install-sshocker/sshocker

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PODMAN_SYSTEMD_UNIT=%n
StateDirectory=install-sshocker
StateDirectoryMode=0700
ExecStart=/usr/bin/curl --create-dirs -o %S/slurm-container-cluster/install-sshocker/sshocker --fail -L https://github.com/AkihiroSuda/sshocker/releases/latest/download/sshocker-Linux-x86_64
ExecStart=chmod 755 %S/slurm-container-cluster/install-sshocker/sshocker
KillMode=control-group

[Install]
WantedBy=multi-user.target
